@use "@angular/material" as mat;

:root {
  --color-primary: var(--mat-sys-inverse-primary);
  @include mat.card-overrides(
    (
      outlined-outline-color: var(--color-primary),
      outlined-outline-width: 2px,
    )
  );
  @include mat.expansion-overrides(
    (
      header-indicator-color: var(--color-primary),
    )
  );
  @include mat.form-field-overrides(
    (
      trailing-icon-color: var(--color-primary),
      outlined-caret-color: var(--color-primary),
      outlined-focus-outline-color: var(--color-primary),
      outlined-outline-color: var(--color-primary),
    )
  );
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$cyan-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html.dark-mode {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
