@use "@angular/material" as mat;

:root {
  @include mat.card-overrides(
    (
      outlined-outline-color: var(--mat-sys-inverse-primary),
      outlined-outline-width: 2px,
    )
  );
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$cyan-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body.dark-mode {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
